################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TemplatorText/v17/TestStore/0/000.testlog
/TemplateTextGenApp.Application/bin/Debug/net6.0
/TemplateTextGenApp.Application/obj/Debug/net6.0/ref/TemplatorTextGenApp.Application.dll
/TemplateTextGenApp.Application/obj/Debug/net6.0/refint
/TemplateTextGenApp.Application/obj/Debug/net6.0/TemplatorTextGenApp.Application.csproj.AssemblyReference.cache
/TemplateTextGenApp.Application/obj/Debug/net6.0/TemplatorTextGenApp.Application.csproj.CopyComplete
/TemplateTextGenApp.Application/obj/Debug/net6.0/TemplatorTextGenApp.Application.csproj.CoreCompileInputs.cache
/TemplateTextGenApp.Application/obj/Debug/net6.0/TemplatorTextGenApp.Application.csproj.FileListAbsolute.txt
/TemplateTextGenApp.Application/obj/Debug/net6.0/TemplatorTextGenApp.Application.dll
/TemplateTextGenApp.Application/obj/Debug/net6.0/TemplatorTextGenApp.Application.pdb
/.vs/TemplatorTextGenApp/v17/.suo
/TemplateTextGenApp.Application/TemplatorTextGenApp.Application.csproj
/TemplateTextGenApp.Domain/bin/Debug/net6.0/TemplatorTextGenApp.Domain.deps.json
/TemplateTextGenApp.Domain/bin/Debug/net6.0/TemplatorTextGenApp.Domain.dll
/TemplateTextGenApp.Domain/bin/Debug/net6.0/TemplatorTextGenApp.Domain.pdb
/TemplateTextGenApp.Domain/obj/Debug/net6.0/ref/TemplatorTextGenApp.Domain.dll
/TemplateTextGenApp.Domain/obj/Debug/net6.0/refint/TemplatorTextGenApp.Domain.dll
/TemplateTextGenApp.Domain/obj/Debug/net6.0/TemplatorTextGenApp.Domain.csproj.CoreCompileInputs.cache
/TemplateTextGenApp.Domain/obj/Debug/net6.0/TemplatorTextGenApp.Domain.csproj.FileListAbsolute.txt
/TemplateTextGenApp.Domain/obj/Debug/net6.0/TemplatorTextGenApp.Domain.dll
/TemplateTextGenApp.Domain/obj/Debug/net6.0/TemplatorTextGenApp.Domain.pdb
/TemplateTextGenApp.Infrastructure/bin/Debug/net6.0/TemplatorTextGenApp.Infrastructure.deps.json
/TemplateTextGenApp.Infrastructure/bin/Debug/net6.0/TemplatorTextGenApp.Infrastructure.dll
/TemplateTextGenApp.Infrastructure/bin/Debug/net6.0/TemplatorTextGenApp.Infrastructure.pdb
/TemplateTextGenApp.Infrastructure/obj/Debug/net6.0/ref/TemplatorTextGenApp.Infrastructure.dll
/TemplateTextGenApp.Infrastructure/obj/Debug/net6.0/refint/TemplatorTextGenApp.Infrastructure.dll
/TemplateTextGenApp.Infrastructure/obj/Debug/net6.0/TemplatorTextGenApp.Infrastructure.csproj.CoreCompileInputs.cache
/TemplateTextGenApp.Infrastructure/obj/Debug/net6.0/TemplatorTextGenApp.Infrastructure.csproj.FileListAbsolute.txt
/TemplateTextGenApp.Infrastructure/obj/Debug/net6.0/TemplatorTextGenApp.Infrastructure.dll
/TemplateTextGenApp.Infrastructure/obj/Debug/net6.0/TemplatorTextGenApp.Infrastructure.pdb
/TemplateTextGenApp.Presentation/bin/Debug/net6.0/TemplatorTextGenApp.Application.dll
/TemplateTextGenApp.Presentation/bin/Debug/net6.0/TemplatorTextGenApp.Application.pdb
/TemplateTextGenApp.Presentation/bin/Debug/net6.0/TemplatorTextGenApp.Domain.dll
/TemplateTextGenApp.Presentation/bin/Debug/net6.0/TemplatorTextGenApp.Domain.pdb
/TemplateTextGenApp.Presentation/bin/Debug/net6.0/TemplatorTextGenApp.Infrastructure.dll
/TemplateTextGenApp.Presentation/bin/Debug/net6.0/TemplatorTextGenApp.Infrastructure.pdb
/TemplateTextGenApp.Presentation/bin/Debug/net6.0/TemplatorTextGenApp.Presentation.deps.json
/TemplateTextGenApp.Presentation/bin/Debug/net6.0/TemplatorTextGenApp.Presentation.dll
/TemplateTextGenApp.Presentation/bin/Debug/net6.0/TemplatorTextGenApp.Presentation.exe
/TemplateTextGenApp.Presentation/bin/Debug/net6.0/TemplatorTextGenApp.Presentation.pdb
/TemplateTextGenApp.Presentation/bin/Debug/net6.0/TemplatorTextGenApp.Presentation.runtimeconfig.json
/TemplateTextGenApp.Presentation/obj/Debug/net6.0/ref/TemplatorTextGenApp.Presentation.dll
/TemplateTextGenApp.Presentation/obj/Debug/net6.0/refint/TemplatorTextGenApp.Presentation.dll
/TemplateTextGenApp.Presentation/obj/Debug/net6.0/TemplatorTextGenApp.Presentation.csproj.AssemblyReference.cache
/TemplateTextGenApp.Presentation/obj/Debug/net6.0/TemplatorTextGenApp.Presentation.csproj.CopyComplete
/TemplateTextGenApp.Presentation/obj/Debug/net6.0/TemplatorTextGenApp.Presentation.csproj.CoreCompileInputs.cache
/TemplateTextGenApp.Presentation/obj/Debug/net6.0/TemplatorTextGenApp.Presentation.csproj.FileListAbsolute.txt
/TemplateTextGenApp.Presentation/obj/Debug/net6.0/TemplatorTextGenApp.Presentation.dll
/TemplateTextGenApp.Presentation/obj/Debug/net6.0/TemplatorTextGenApp.Presentation.genruntimeconfig.cache
/TemplateTextGenApp.Presentation/obj/Debug/net6.0/TemplatorTextGenApp.Presentation.pdb
/TemplatorText.UniTest/bin/Debug/net6.0/TemplatorTextGenApp.Domain.dll
/TemplatorText.UniTest/bin/Debug/net6.0/TemplatorTextGenApp.Domain.pdb
/TemplatorText.UniTest/bin/Debug/net6.0/TemplatorTextGenApp.Infrastructure.dll
/TemplatorText.UniTest/bin/Debug/net6.0/TemplatorTextGenApp.Infrastructure.pdb
/TemplatorText.UniTest/bin/Debug/net6.0/TemplatorTextGenApp.UnitTest.deps.json
/TemplatorText.UniTest/bin/Debug/net6.0/TemplatorTextGenApp.UnitTest.dll
/TemplatorText.UniTest/bin/Debug/net6.0/TemplatorTextGenApp.UnitTest.pdb
/TemplatorText.UniTest/bin/Debug/net6.0/TemplatorTextGenApp.UnitTest.runtimeconfig.json
/TemplatorText.UniTest/obj/Debug/net6.0/ref/TemplatorTextGenApp.UnitTest.dll
/TemplatorText.UniTest/obj/Debug/net6.0/refint/TemplatorTextGenApp.UnitTest.dll
/TemplatorText.UniTest/obj/Debug/net6.0/TemplatorTextGenApp.UnitTest.csproj.AssemblyReference.cache
/TemplatorText.UniTest/obj/Debug/net6.0/TemplatorTextGenApp.UnitTest.csproj.CopyComplete
/TemplatorText.UniTest/obj/Debug/net6.0/TemplatorTextGenApp.UnitTest.csproj.CoreCompileInputs.cache
/TemplatorText.UniTest/obj/Debug/net6.0/TemplatorTextGenApp.UnitTest.csproj.FileListAbsolute.txt
/TemplatorText.UniTest/obj/Debug/net6.0/TemplatorTextGenApp.UnitTest.dll
/TemplatorText.UniTest/obj/Debug/net6.0/TemplatorTextGenApp.UnitTest.genruntimeconfig.cache
/TemplatorText.UniTest/obj/Debug/net6.0/TemplatorTextGenApp.UnitTest.pdb
/TemplateTextGenApp.Presentation/obj/Debug/net6.0/apphost.exe
